
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  top: 0;
  font-family: 'Poppins', Arial, sans-serif;
  width: 100%;
  left: 0; 
  right: 0; 
  margin-left: 0; 
  margin-right: 0;
  z-index: 999; 
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  max-width: 1100px;
}

.navbar-logo {
 
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
color: white;
  display: flex;
  align-items: center;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 800;
}
#portspan {
  color: #f0ad4e;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  position: relative;
}

.nav-links::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 3px;
  background: #f0ad4e;
  transition: width 0.3s ease;
}

.nav-links:hover::after {
  width: 100%;
   
}

.nav-links:hover {
  color: #f0ad4e;
}


.menu-icon {
  display: none;
}


@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    left: -100%; 
    opacity: 1;
    transition: all 0.5s ease;
    background: #000;
  }

  .nav-menu.active {
    left: 0;
  color: #f0ad4e;
    
  }
  

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    text-decoration: none;
    
  }
  .nav-links:hover {
  color: #f0ad4e;
}

  .nav-links:hover::after {
  width: 100%;
   
}
.nav-links::after {
  content: "";
   display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 3px; 
  background: #f0ad4e;
  transition: width 0.3s ease;
}

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 80%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
  
}
