
.footer-section {
  background-color: #000000;
  padding: 80px 0 0;
  color: rgba(255, 255, 255, 0.7);
   position: relative;
  overflow: hidden;
}
.footer-section #footer-particles {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 0;
}
.footer-section .container, .footer-section .copyright-text {
  position: relative;
  z-index: 1;
}


.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-column h4 {
  font-size: 1.2rem;
  color: #f0ad4e;
  margin-bottom: 25px;
  padding-left: 15px;
}

.footer-column p {
  line-height: 1.8;
}

.social-icons {
  margin-top: 20px;
  transition: 1.2s ease-in;
}
.footer-section .social-icons a svg {
  font-size: 25px; 
  transition: transform 0.3s ease; 
}

.footer-section .social-icons a:hover svg {
  transform: scale(1.2); 
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.05);
  color:#f0ad4e;
  border-radius: 50%;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #f0ad4e;
  color: white;
  transform: translateY(-5px);
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
  transition: color 0.3s ease;
  box-shadow: 0px 0px 10px rgba(248, 248, 248, 0.7);
}

.footer-contact-info {
  list-style: none;
  padding: 0;
}

.footer-contact-info li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-contact-info span {
  width: 20px;
  margin-right: 15px;
  color: #f0ad4e;
}

.footer-contact-info li:hover {
  color: #fff;
  transition: color 0.3s ease;
  box-shadow: 0px 0px 10px rgba(248, 248, 248, 0.7);
}

.copyright-text {
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 992px) {
  .contact-info-grid,
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form-area {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .contact-info-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .contact-section {
    padding: 80px 0;
  }
}