.skills-section {
  background-color: #000000;
  color: #ffffff;
  padding: 120px 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: center;
   position: relative;
  overflow: hidden;
}
.skills-section #skills-particles {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 0;
}
.skills-section .container {
  position: relative;
  z-index: 1;
}

.background-text-skills {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.05);
  z-index: 0;
  user-select: none;
}

.section-header-skills {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.section-header-skills h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-header-skills p {
  font-size: 1rem;
  color: #cccccc;
  max-width: 550px;
  margin: 0 auto;
}

#skillspan {
  color: #f0ad4e;
  font-weight: 700;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 8rem;
  text-align: left;
}

.skill-item {
  position: relative;
}

.skill-info {
  margin-bottom: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.skill-name {
  font-size: 1.1rem;
  font-weight: 600;
}

.progress-bar-container-modern {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 11px;
  background-color: #2a2a2a;
  border-radius: 3px;
}

.progress-level-modern {
  height: 100%;
  background-color: #f0ad4e;
  border-radius: 3px;
  position: relative;
  transition: width 1.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.skill-percentage-moving {
  position: absolute;
  bottom: 100%; 
  right: 0;      
  transform: translateX(50%);
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skills-section {
    padding: 80px 0;
  }

  .skill-info,
  .progress-bar-container-modern {
    width: 100%;
  }
}
